<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MicroprocessorRomWriterForLogisim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <MicroprocessorRomWriterForLogisim.Properties.Settings>
            <setting name="NumIstruzioni" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="NumMicroIstruzioni" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="Formato" serializeAs="String">
                <value>Hex</value>
            </setting>
        </MicroprocessorRomWriterForLogisimFinito.Properties.Settings>
    </userSettings>
</configuration>
